<nav class="navbar">
    <div class="navbar-left">
        <ng-container *ngIf="currentUrl !== '/discover'">
            <button mat-stroked-button color="accent" (click)="navigateTo('/discover')">
                {{ 'NAV.DISCOVER' | translate }}
            </button>
        </ng-container>
    </div>

    <div class="navbar-logo" *ngIf="currentUrl!=='/user/login' && currentUrl!=='/user/register'">
      <img src="assets/nav_logo.png" alt="Logo" class="logo"/>
    </div>
    
    <div class="navbar-right d-flex align-items-center gap-2">
        
        <div class="lang-switcher me-3">
            <button mat-button 
                    class="min-width-0 px-2" 
                    [class.fw-bold]="currentLang === 'pl'"
                    [color]="currentLang === 'pl' ? 'accent' : ''"
                    (click)="changeLanguage('pl')">
                PL
            </button>
            <span class="text-muted">|</span>
            <button mat-button 
                    class="min-width-0 px-2" 
                    [class.fw-bold]="currentLang === 'en'"
                    [color]="currentLang === 'en' ? 'accent' : ''"
                    (click)="changeLanguage('en')">
                EN
            </button>
        </div>

        <ng-container *ngIf="isLoggedIn">
            <button mat-flat-button color="accent" (click)="navigateTo('/profile')">
                {{ 'NAV.PROFILE' | translate }}
            </button>

            <button mat-mini-fab color="accent" (click)="openAddEvent()" [matTooltip]="'NAV.ADD_EVENT_TOOLTIP' | translate">
                <mat-icon>add</mat-icon>
            </button>
        </ng-container>

        <ng-container *ngIf="!isLoggedIn && showAuthButtons()">
            <button mat-stroked-button color="accent" class="me-2" (click)="navigateTo('/user/login')">
                {{ 'NAV.LOGIN' | translate }}
            </button>
            
            <button mat-flat-button color="accent" (click)="navigateTo('/user/register')">
                {{ 'NAV.REGISTER' | translate }}
            </button>
        </ng-container>
    </div>
</nav>