.step-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.back-btn {
  margin-right: 1rem;
}

.step-title h3 {
  margin: 0;
  font-size: 1.5rem;
}

.w-100 {
  width: 100%;
}

.gender-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gender-label {
  font-weight: bold;
}

.gender-description {
  font-size: 0.875rem;
  color: #ccc;
  margin: 0 0 0.5rem 0;
}

.gender-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gender-option {
  margin: 0;
  font-size: 0.95rem;
}
.error-feedback-group {
  margin-top: 0px;
}
/* Błędy */
.error-feedback {
  margin: 0 !important;
  padding: 0;
  font-size: 0.85rem;
  color: red;
  line-height: 1.2;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0rem; /* mały odstęp między inputem a błędami */
}
mat-form-field {
  margin-bottom: 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.password-criteria {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.password-criteria p {
  margin: 0.25rem 0;
  display: flex;
  align-items: center;
}
.criteria-header {
  margin: 0 0 0.5rem 0;
  font-weight: 500;
  color: #666;
}

.criteria-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.icon {
  font-size: 18px;
  width: 18px;          /* SZEROKOŚĆ musi być równa font-size*/
  height: 18px;         /* WYSOKOŚĆ musi być równa font-size */
  margin-right: 0.5rem;
  flex-shrink: 0;
  overflow: visible;
}

.passed {
  color: #4caf50; /* green */
}

.failed {
  color: #f44336; /* red */
}

/* Pasek postępu */
.progress-bar-container {
  height: 4px;
  width: 100%;
  background-color: #2a2a2a;
  margin-bottom: 16px;
}
.progress-bar {
  height: 100%;
  background-color: #1ed760;
  transition: width 0.3s ease-in-out;
}